{#
/**
 * @file
 * Contains the text of the studentsdbexample explanation page
 */
#}

<div class='studentsdbexample-description'>
{% trans %}
    <p>The page contain information about students.</p>
    <p>list of students</p>
    <p>delete and update operations</p>
{% endtrans %}
</div>
